@font-face {
    font-family: 'WjhFont';
    src: url("./assets/fontawesome-webfont.svg") format('svg'),
    url("./assets/fontawesome-webfont.eot") format('eot'),
    url("./assets/fontawesome-webfont.ttf") format('ttf'),
    url("./assets/fontawesome-webfont.woff") format('woff'),
    url("./assets/fontawesome-webfont.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}
.hello {
    color: red;
    font-family: 'WjhFont';
}